<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="UTF-8">
<title>Travel App</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
<body>
  <div id = "app">
    <div class ="holder headline" id="hd">
    Travel App
    </div>
    <div id = "button img" class="buttonimg">
      <img id="IMG" src="https://pixabay.com/get/57e0d74b4e52b108f5d0846096293f7a123added514c704f752e7ed09649c35e_1280.jpg"  alt="INPUT CITY">
    </div>
    <div class ="holder zip" id="zipk">
      <form class="" onsubmit="return Client.getCord(event)">
      <label for="zip">City</label>
      <input type="text" id="zip" placeholder="enter city here">
      </form>
    </div>
    <div id="dategrid">
      <label for="date" onsubmit="return Client.getWeather(event)"> Start date </label>
      <input  onsubmit="return Client.getWeather(event)" type="date" id="date" name="date"/>
    </div>
    <div id="dategrid2">
      <label for="date" onsubmit="return Client.getWeather(event)"> End date </label>
      <input  onsubmit="return Client.getWeather(event)" type="date" id="dateend" name="date"/>
    </div>
    <div class ="holder feel" id="generatebut">
      <button id="generate" type = "submit" onclick="return Client.All(event)" onsubmit="return Client.All(event)"> add </button>
    </div>
    <div class ="holder entry" id="textuh">
      <div class = "title">Temperature</div>
      <div id = "entryHolder">
        <div id = "shir"></div> 
        <div id = "dolg"></div>
        <div id = "temp"></div>
        <div id = "grad"></div>
      </div>
    </div>
  </div>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
   </script>
   <div id="footer">  <a id="refer" href="https://pixabay.com/" style="margin:3px 15px 5px 0;font-size:12px;line-height:1.7;color:#555;display:block;float:left;padding:9px 12px 6px;border:1px solid #ccc">
    <i style="display:block;width:68px;height:18px;overflow:hidden"> </i>Pixabay Free Images
    </a>  </div>
</body>
</html>